.DS_Store

__pycache__/


# Datasets
*.csv

# Logs
*.log

# ML models
*.safetensors
*.pkl
# ==============================
# Environment & Secrets
# ==============================
.env
.env.*
!.env.example

# ==============================
# Virtual Environment
# ==============================
venv/
.venv/
env/
ENV/

# ==============================
# Python Cache
# ==============================
__pycache__/
*.py[cod]
*$py.class
